<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @trip.name %>
</p>

<p>
  <b>Current lat:</b>
  <%= @trip.current_lat %>
</p>

<p>
  <b>Current lng:</b>
  <%= @trip.current_lng %>
</p>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
