<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Wanderlust" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Wanderlust" %>">
    <%= include_gon %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=en" %>
    <%= javascript_include_tag  "http://code.angularjs.org/1.1.5/angular-cookies.min.js" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body ng-app="odyssey" class="<%= controller_name %> <%= action_name %>">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Wanderlust</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <div class="nav navbar-nav navbar-right">
            <%= render 'layouts/navigation' %>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
