<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Wanderlust" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Wanderlust" %>">
    <%= include_gon %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=en" %>
    <%= javascript_include_tag  "http://code.angularjs.org/1.1.5/angular-cookies.min.js" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body ng-app="odyssey" class="<%= controller_name %> <%= action_name %>">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Wanderlust (alpha release)</a>
          <div class="visible-xs">
            <%= render 'layouts/navigation' %>
          </div>
        </div>
        <div class="nav navbar-nav navbar-right hidden-xs">
          <%= render 'layouts/navigation' %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <a href="http://google.com" target="_blank" class="hidden-xs">
      <img class="img-responsive" style="position: fixed; bottom: 0; right: 0; border: 0;" src="<%=asset_path "feedback.png"%>" alt="Feedback">
    </a>
  </body>
</html>
